* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* 헤더 시작 */
header {
  /* border: 1px solid; */
  height: 70px;
  /* 메뉴네비게이션 가로로 */
  display: flex;
  /* 상하 중앙 */
  align-items: center;
}
.nav {
  margin-left: auto;
}
a {
  /* 밑줄 없애기 */
  text-decoration: none;
  /* 글자 관련 */
  color: gray;
  font-weight: 600;
  font-size: 14px;
  padding: 15px;
}
a:hover {
  border-bottom: 1px solid #01a1dd;
  color: #01a1dd;
}
.logo {
  margin-left: 20px;
}
.logo img {
  width: 100px;
}
/* 메인 부분 시작 */
main {
  background-color: aliceblue;
  min-height: 800px;
  text-align: center;
  margin: auto;
}
#main {
  display: flex;
  justify-content: center;
  
  gap: 30px;

  padding: 50px;
}

#main div {
  /* border: 1px solid red; */
  width: 200px;
  height: 200px;
  background-color: white;

  border-radius: 10px;

  text-align: left;
  transition: all 0.4s(0.25, 1, 0.5, 1);
}
#main .sub:hover {
  height: 250px;

  transform: translateY(-5px);

  box-shadow: 0 80px 30px red;

  border-color: blue;
}
#main .sub .subment1 {
  /* border: 1px solid; */
  font-size: 1.5em;
  font-weight: 700;
  margin: 10px;
}
#main .sub .subment2 {
  /* border: 1px solid; */
  font-size: 1em;
  font-weight: 700;
  margin: 10px;
}
#main .sub .subment3 {
  color: #01a1dd;
  /* border: 1px solid; */
  font-size: 1em;
  font-weight: 700;
  margin-left: 10px;
}
#main .sub .subment4 {
  color: #01a1dd;
  /* border: 1px solid; */
  font-size: 1em;
  font-weight: 700;
  margin-left: 10px;
}
.subimg{
    display: flex;
    justify-content: center;
}
.subimg img {
  max-width: 80%; /* 가로 최대크기 */
  max-height: auto; /* 높이 오토 */
}
